<p>
    Name: <%= @user.name %>
</p>
<p>
    Alias: <%= @user.alias %>
</p>
<p>
    Email: <%= @user.email %>
</p>

<hr>

<p>
    Total # of posts: <%= @user.ideas.count.to_s %>
</p>
<p>
    Total # of likes: <%= @user.likes.count.to_s %>
</p>